.wrapper {
  width: 146px;
  border-radius: 8px;
  border: 1.5px solid #eee;
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.25s;
}
.wrapper:hover {
  border-color: #054542;
}
.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}
.icon {
  margin-right: 8px;
}
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  width: 96px;
  background-color: #054542;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: #0d6b66;
}
